/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/framework/views/*
public/C:\\Users\\User\\Desktop\\business\\backup\\Dapin\\Dapin\\storage\\logs/
/storage/logs/

